.mAudio {
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    position: relative;

    &:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;

    }

    .items {
        padding-bottom: 78px;
        background-color: rgba(244,244,244,0.9);
    }
}