.mAudio {
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    position: relative;

    &:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;

    }

    .items {
        min-height: 100%;
        padding-bottom: 78px;
        position: relative;
        z-index: 2;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: rgba(244,244,244,0.9);

        dl {

            dt {
                border-bottom: 1px #e0e0e0 solid;
                padding: 10px;
                position: relative;

                &:last-child {
                    border-bottom: none;
                }
            }
        }
    }
}