.mRanking {
    padding: 10px;

    li {
        background-color: #fff;
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        margin-bottom: 10px;
        position: relative;

        a {
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }

        .top {
            background-color: #fff;
            display: flex;
            padding: 10px;

            .left {
                width: 100px;
                height: 100px;
                flex-shrink: 0;
                margin-right: 10px;
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;
            }

            .right {
                flex-grow: 1;
                padding-right: 10px;

                h3 {
                    font-size: 16px;
                    line-height: 32px;
                    color: #333;
                }

                p {
                    font-size: 12px;
                    line-height: 20px;
                    height: 68px;
                    padding: 4px 0;
                    overflow: hidden;
                    color: #888;
                }
            }
        }

        .bottom {
            padding: 0 10px;

            dl {

                dt {
                    border-top: 1px #f0f0f0 solid;
                    padding: 10px 0;
                }
            }
        }

    }
}